.login-container {
    height: 96vh;
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    background: white;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid #aaa;
    border-radius: 8px;
    font-size: 16px;
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    background: #2193b0;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .login-box button:hover {
    background: #197b9b;
  }
  